/*BODY*/
*{
	margin: 0px;
	padding: 0px;
}
h1,p{
	font-family: 'Fraunces', serif;
	font-size: 20px;
}
		/*BARRA DE NAVEGACION FULL SCREM*/


.nav_responsive-ul{
	display: none;
}

nav{
	background: #FF960B;
}

		/*ICONOS DE NAVEGACION*/
.nav_li{
	display: inline-block;
	padding: 12px;
}
.nav_li:hover > a{	
	color: #fea900;
}
.nav_li:hover{
	color: #fea900;
}
	

.nav_li a{
	padding: 9px;
	color:#000000 ;
	text-decoration: none;
	font-size: 25px;
}
.nav_li i {
	text-align: right;
	margin-right: 5px;

}
.nav_ul{
	margin: 50px;
	float: right;
}
.nav_logo{
	margin: 10px 10px 10px 10px;
	
	width: 7em;
	border-radius: 105px;

}


		/*BARRA DE NAVEGACION 500PX*/

@media only screen and (max-width: 500px) {

.nav_li{
	display: none;
}
.nav_responsive-ul{
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
}
.nav_responsive-li a{
	padding: 9px;
	color:#000000 ;
	text-decoration: none;
}

.nav_responsive-button{
	float: right;
	font-size: 30px;
	padding: 6px 20px;

}
.nav{
	height:37px;
	width: 100%;

}

.nav_logo{
	display: none;
}

}

	/*PRIMERA SECCION*/

.part1{

 
	padding: 10px;
	width: 15%;

}
.part1 h1{
	font-size: 30px;

}
.part1 p{
	margin: 10px auto;
}
.part1 a {
	text-decoration: underline;
	text-decoration-style: solid;
	text-decoration-thickness: 50%;  
	color: black; 
	font-size: 25px;

}
.part2{
	width: 25%;
	padding-top: 200px;

}
#comilla{
	color: #FF960B;
	font-size: 45px;
}


		/*IMAGENES MIAS Y DE FONDO*/

.part3{
	width: 40%;
	
	position: relative;
	border: #FF960B 5px solid;
}

.fondo{
	height: 100%;
	width: 100%;
	object-fit: cover;
	position: absolute;
}
.mia{
	height: 100%;
	width: 50%;
	position: absolute;
	object-fit: cover;
	/*left: 0;
	top: 50px;*/
	
}
.random{
	height: 45%;
	width: 45%;
	position: absolute;
	object-fit: contain;
	right: 0;
	bottom: 0;
}

	

		/*1-2-3; PROBANDO*/

section{
	display: flex;
	Justify-content: space-around;
	margin: 20px;
	height: 550px;

}



		/*FOOTER*/

footer{
	width: 100%;
	height: 250px;
	background-color: #333333;
	color: #FFFFFF;
	position: relative;
}
.Pie_pag{
	text-align: center;
	margin-top: 50px;
    padding-top: 100px;

}


